body{
    background-color: rgb(73, 109, 216);
    color:white;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    margin: 20px;
}
/* #img1{
    float: left;
}
#img2{
    display: block;
    margin: auto;
}
#img3{
    float: right;
} */